$black : #191D21;
$white: #F5F0F6;
$green: #D9F0DC;
$pink: #FBE6DA;
$darkorange: #FF743C;
$lightorange: #FF896D;
$darkpink: #FFD7C3;
$darkgreen:#7FD1AE;
$backwhite: #F1F4F9;
$backwhite: #F1F4F9;
$gold: #FFC700;
$topbar-height: 0;
$sidebar-width: 7%;


.savingsPredictions {
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem 3rem;

    .header-title {
        font-size: 2rem;
        font-weight: 700;
        margin: 1.5rem 2rem;
    }

    .expense-history {
        display: flex;
        align-items: center;
        justify-content:space-between;
        width: 40rem;
        margin-bottom: 2rem;

        i {
            margin-left: 2rem;;
            font-size: 1.5rem;;
        }

        .item-title {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .date {
            color:rgba(0, 0, 0, 0.5);
            font-size: 0.8rem;
        }

        .type {
            position: relative;
            
            p {
                color:rgba(0, 0, 0, 0.7);

            }

            .dot {
                border-radius: 100px;
                $size: 3rem;
                height: $size;
                width: $size;
                background-color: #7FD1AE;
                position: absolute;
                opacity: 0.1;
                top: -0.7rem;
                left: -1rem;
            }
        }

        .price {
            font-weight: 700;
            font-size: 1.7rem;
        }

        



    }

    header {
        display: flex;
        align-items: center;
        margin-left: 1rem;;

        .color-bar {
            background-color: $lightorange;
            height: 2rem;
            width: 1rem;
            margin: 1rem;
            border-radius: 4px;;
        }

        p {
            font-weight: 600;
            font-size: 1.2rem;
        }
    }

    .moreInfo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        background-color: $pink;
        padding: 1rem;
        border-radius: 10px;

        .savingsInfo {
            background-color: #fff;
            filter: drop-shadow(0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32)); 
            $size: 12rem;
            height: 9rem;
            width: $size;
            border-radius: 10px;
            padding: 1rem;
            position: relative;

            .title {
                
                font-size: 0.9rem;
                color: rgba(0, 0, 0, 0.5);
            }

            .amount {
                position: absolute;
                bottom: 1rem;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
    }
}

.savingsAccounts {
    background-color: $pink;
    border-radius: 10px;;
    
    .account1 {
        display: flex;
        align-items: center;
        position: relative;
        gap: 2rem;
        padding: 1.2rem; 
        margin: 1rem 0;
        
        .icon {
            i {
                font-size: 1.2rem;
                color: $darkorange;
                background-color: $pink;
                padding: 0.6rem;
                border-radius: 100px;
            }
        }

        

        .amount {
            font-weight: 600;
            font-size: 1.7rem;
        }

        .title {
            font-size: 0.8rem;
            color: rgba(0, 0, 0, 0.7);
            font-weight: 300;
        }

    }


}