$black : #191D21;
$white: #F5F0F6;
$green: #D9F0DC;
$pink: #FBE6DA;
$darkorange: #FF743C;
$lightorange: #FF896D;
$darkpink: #FFD7C3;
$darkgreen:#7FD1AE;
$backwhite: #F1F4F9;
$backwhite: #F1F4F9;
$gold: #FFC700;
$topbar-height: 0;
$sidebar-width: 7%;


.recent-subscriptions {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;

    header {
        display: flex;
        align-items: center;
        margin-left: 1.5rem;;

        .color-bar {
            background-color: $lightorange;
            height: 2rem;
            width: 1rem;
            margin: 1rem;
            border-radius: 4px;;
        }

        p {
            font-weight: 600;
            font-size: 1.2rem;
        }
    }

    .content {
        
    }
}