$black : #191D21;
$white: #F5F0F6;
$green: #D9F0DC;
$pink: #FBE6DA;
$darkorange: #FF743C;
$lightorange: #FF896D;
$darkpink: #FFD7C3;
$darkgreen:#7FD1AE;
$backwhite: #f8f8ff;
$blue: #0d6efd;

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;300;500;700&display=swap');

.card {
    height: auto; 
    width: 100%;
    position: relative;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: left;

    i {
        margin-right: 1rem
    }

    .content {
        display: flex;
        align-items: baseline;

        .employer {
            font-family: 'Martian Mono', sans-serif;
            font-weight: 300;
            font-size: 1rem;
        }

        .separateLine {
            border-bottom: 3px dotted #6ED47C;
            width: 10rem;
        }
    
        .bottomInfo {
            p {
                font-family: "Montserrat";
                font-weight: 700;
                font-size: 1rem; 
            }
        } 
    };

    
}

.card:hover {
    background-color: rgba($blue, 0.2);
    cursor: pointer;
}



