$black : #191D21;
$white: #F5F0F6;
$green: #D9F0DC;
$pink: #FBE6DA;
$darkorange: #FF743C;
$lightorange: #FF896D;
$darkpink: #FFD7C3;
$darkgreen:#7FD1AE;
$backwhite: #F1F4F9;
$backwhite: #F1F4F9;
$gold: #FFC700;
$topbar-height: 0;
$sidebar-width: 7%;

.general {
    background-color: #FFF7E6;
    border-radius: 10px;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    height: 61vh;
    display: flex;
}