
.postcard {
    margin: 0 1rem;
    height: 70vh;
    width: 25%;
    display: flex;
    justify-content: center;
    border-radius: 20px;;
    
    .content {
        padding: 1rem;

            .mainImage {
                height: 40vh;
                width: 100%;
                border-radius: 20px;;
                object-fit: cover;               
            }

            
        }
        

        
 
}