.post {
    padding: 0.9rem;
    background-color: #FBE6DA;
    height: 18vh;
    width: 40vh;
    display: flex;
    align-items: center;
    border-radius: 20px;

    .postInfo {
        padding: 0 0 0 2rem;

        i {
            font-size: 1.5rem;;
        }

        .postTitle {
            font-family: 'Poppins';
            font-size: 1rem;
            margin: 0.5rem 0;
            font-weight: 600;
        }

        .date {
            font-size: 0.9rem;
        }
    }

    .smallImage {
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        border-radius: 20px;;
        height: 100%;
        width: 100%;   
    }

    
}