$black : #191D21;
$white: #F5F0F6;
$green: #D9F0DC;
$pink: #FBE6DA;
$darkorange: #FF743C;
$lightorange: #FF896D;
$darkpink: #FFD7C3;
$darkgreen:#7FD1AE;
$backwhite: #F1F4F9;
$backwhite: #F1F4F9;
$gold: #FFC700;
$topbar-height: 0;
$sidebar-width: 7rem;


@media screen and (min-width: 801px) {
    //For Laptops
    .main {
        //background-color: rgb(217, 240, 220, 0.7);
        background-color:  #f8f8ff;
        margin: $topbar-height 0 0 $sidebar-width;
        padding: 0rem 3.5rem 5rem 3.5rem;

        .dashTitle {
            font-size: 3rem;
            padding: 0 2rem 2rem 0rem;
            font-weight: 600;
        }

        .main-content {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            

            .bills {
                background-color: #fff;
                border-radius: 10px;
                padding-bottom: 1.7rem;;
                padding-right: 2rem;
                

                header {
                    display: flex;
                    align-items: center;
                    margin-left: 1.5rem;

                    .color-bar {
                        background-color: $darkgreen;
                        height: 2rem;
                        width: 1rem;
                        margin: 1rem;
                        border-radius: 4px;
                    }

                    .title {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }

                .content {
                    padding: 0rem 0rem 0rem 4rem;
                    

                    table td {
                        padding: 1.5rem;
                    }

                    .rent {
                        .upper-detail-format {
                            display: flex;
                            justify-content: space-between;
                            gap: 2rem;

                            h5 {
                                font-size: 1rem;;
                            }

                            p {
                                font-size: 1.7rem;
                                font-family: 'Poppins';
                                font-weight: 500;
                                letter-spacing: -1px;
                            }
                        }
                        
                        .billModel {
                            background-color: $green;
                            border-radius: 100px;
                            $size: 2.5rem;
                            height: $size;
                            width: $size;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i {
                                font-size: 1.6rem;
                                color: $darkgreen;
                            }
                        }

                        .last-payment-comparison {
                            display: flex;
                            align-items: center;
                            gap: 0.7rem;

                            i {
                                font-size: 2rem;
                                color: $gold;
                            }

                            em {
                                color: $gold;
                                font-size: 0.9rem;
                            }

                            span {
                                text-transform: uppercase;
                                color:rgba(0, 0, 0, 0.5);
                                font-size: 0.9rem;
                            }
                        }
                    }

                    .percentage-income {
                        .upper-detail-format {
                            display: flex;
                            justify-content: space-between;
                            gap: 4rem;

                            h5 {
                                font-size: 1rem;;
                            }

                            p {
                                font-size: 1.7rem;
                                font-family: 'Poppins';
                                font-weight: 500;
                                letter-spacing: -1px;
                            }
                        }
                        
                        .billModel {
                            background-color: $green;
                            border-radius: 100px;
                            $size: 2.5rem;
                            height: $size;
                            width: $size;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            i {
                                font-size: 1.6rem;
                                color: $darkgreen;
                            }
                        }

                        .last-payment-comparison {
                            display: flex;
                            align-items: center;
                            gap: 0.7rem;

                            i {
                                font-size: 2rem;
                                color: $gold;
                            }

                            em {
                                color: $gold;
                                font-size: 0.9rem;
                            }

                            span {
                                text-transform: uppercase;
                                color:rgba(0, 0, 0, 0.5);
                                font-size: 0.9rem;
                            }
                        }
                    }

                    
                }

            }

            .budgetGraph {
                background-color: #fff;
                border-radius: 10px;
                padding: 1rem;
                margin-top: 1rem;

                .graph {
                    width: 100%;
                }

                header {
                    display: flex;
                    align-items: center;
                    margin: 1.5rem;

                    .color-bar {
                        background-color: $green;
                        height: 2rem;
                        width: 1rem;
                        margin: 0 1rem 0 0;
                        border-radius: 4px;
                    }

                    .title {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }
                }
                
            }


            .recent-subscriptions {
                background-color: #fff;
                border-radius: 10px;
                padding: 1rem;

                header {
                    display: flex;
                    align-items: center;
                    margin-left: 1.5rem;;

                    .color-bar {
                        background-color: $lightorange;
                        height: 2rem;
                        width: 1rem;
                        margin: 1rem;
                        border-radius: 4px;;
                    }

                    p {
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                }

                .content {
                    
                }
            }
           
        }
    }
}

@media screen and (min-width: 600px) {
    //For Tablets
        .container {
            width: 100;
        }
    }
    
   
.risks {
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem 1.5rem;


    header {
        display: flex;
        align-items: center;
        margin-left: 1rem;;

        .color-bar {
            background-color: $lightorange;
            height: 2rem;
            width: 1rem;
            margin: 1rem;
            border-radius: 4px;;
        }

        p {
            font-weight: 600;
            font-size: 1.2rem;
        }
    }

    .priceEntry {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            padding: 1rem;
            border: none;
            border-bottom: 1px solid black;
            margin: 1rem;
            font-size: 2rem;;
            font-family: 'Shippori Mincho';
            font-weight: 800;
            width: 15rem;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
             margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
    }

    .riskType {
        padding: 0rem;
        text-align: center;
        margin: 0 auto;


        .status {
            height: 3rem;
            width: 5rem;
            background-color: $gold;
            margin: 0rem auto;
            border-radius: 10px;;
            -webkit-box-shadow: -4px 10px 110px 28px rgba(255,199,0,0.41);
            -moz-box-shadow: -4px 10px 110px 28px rgba(255,199,0,0.41);
            box-shadow: -4px 10px 110px 28px rgba(255,199,0,0.41);
        }
        .feedback {
            margin: 1rem 2rem;
        }
    }

    .breakdown {
        margin: 0 4rem;
        display: flex;
        justify-content: center;;
        flex-direction: column;

        .budgetHeader {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            position: relative;

            .dot1 {
                $size: 9rem;
                height: $size;
                width: $size;
                background-color: #BDD6F5;
                border-radius: 100px;
                position: absolute;
                opacity: 0.2;
                left: 0rem;
            }

            .dot2 {
                $size: 9rem;
                height: $size;
                width: $size;
                background-color: $green;
                border-radius: 100px;
                position: absolute;
                opacity: 0.3;
                right: 0rem;
            }

            .title {
                font-size: 1rem;
                color:rgba(0, 0, 0, 0.5);
                position: relative;
                z-index: 4;
            }

            .amount {
                font-size: 3rem;
                font-weight: 700;
                position: relative;
                z-index: 4;
            }
        }

        .subsection {
            font-size: 1.7rem;
            font-weight: 700;
        }
        
        .requiredBills {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            .category {
                display: flex;
                align-items: center;
                gap:2rem;
                padding: 0.8rem;

                .backgroundColor {
                    $size: 3rem;
                    width: $size;
                    height: $size;
                    background-color: rgba($green, 0.9);
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }


        
    }

    .suggestions {
        font-size: 1.7rem;
        font-weight: 700;
    }
}

