.login-box {
    display: flex;
    background: #fff;
    border-radius: 10px;
    position: relative;
}

.email-field {
    margin-top: 1rem;
    width: 40vh;
}

.password-field {
    margin-top: 1rem;
    width: 40vh;
}

.input-style {
    padding: 0.8rem;
    font-family: 'Poppins';
    font-weight: 300;
}

.submit-btn{
    margin: 1.4rem 0;
    padding: 1rem;
    border-radius: 5px;
    font-family: 'Poppins';
    width: 40vh;
}


.login-art {
    position: absolute;
}