.sidebar {
  position: fixed;
  width: 5%;
  height: 100%;
  left: -4px;
  top: 0px;
 

  background: #11101D;
  border-radius: 0px 20px 0px 0px;
}

.mukadi {
  position: absolute;
  width: 57%;
  height: 5%;
  left: 25%;
  top: 7%;
}