$black : #191D21;
$white: #F5F0F6;
$green: #D9F0DC;
$pink: #FBE6DA;
$darkorange: #FF743C;
$lightorange: #FF896D;
$darkpink: #FFD7C3;

$darkgreen:#7FD1AE; 

.sidebar {
  position: fixed;
  top: 0; 
  left: 0;
  height: 100%;
  width: 20%;
  background: #fff;

  .logo-details {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;

    img {
      height: 5vh;
      min-width: 40%;  
      margin-top: 15%; 
      margin-left: 10%;   
    }
  }

  .nav-links {
    height: 100%;
    padding-top: 4rem;

    li:hover {
      background: $pink;

      .sub-menu {
        .blank {
          top: 50%;
          transform: translateY(-50%);

        }
      }
    }

    li {
      margin-top: 3%;
      list-style: none;
      position: relative;
      transition: all 0.4s ease;

      .icon-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      i {
          height: 50px;
          min-width: 78px;
          text-align: center;
          line-height: 50px;;
          color: $black;
          font-size: 1.7rem;
          transition: all 0.3s ease;
        }

        .arrow {
          transform: rotate(-180deg);
        }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;

        .link-name {
          font-size: 0.9rem;
          font-weight: 400;
          color:$black;
        }
      }

      .sub-menu {
        padding: 0.4rem 0.4rem 0.5rem 4.3rem;
        margin-top: -0.5rem;
        background-color: $pink;
        display: none;

        a {
          color: $black;
          font-size: 1rem;
          padding: 0.3rem 0.7rem;
          white-space: nowrap;
          opacity: 0.7;
        }

        a:hover {
          opacity: 1;
        }

        .blank {
          opacity: 1;
          pointer-events: auto;
          padding: 3px 20px 6px 16px;
        }
      }
    }// in navlinks li
  } // in navlinks
} // in sidebar 



.close{
  .nav-links{
    li:hover {
      .sub-menu{
        top: 0;
        opacity: 1;
        pointer-events: auto;
      }
    }

    li {
      .sub-menu{
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;;
        padding: 0.7rem 1rem;
        border-radius: 0 6px 6px 0;
        transition: all 0.4s ease;;
        opacity: 0;
        pointer-events: none;

        .link-name {
          font-size: 1.13rem;
        }
      }
    }
  }
}


.sidebar{
  .nav-links{
    li {
      .sub-menu{
        .link-name {
          opacity: 1;
          display: block;
        }
      }
    }
  }
}


.feedback {
  position: fixed;
  bottom: 2%;
  left: 2%;
  

  .help-section {
    display: flex;
    align-items: center;

    i {
      font-size: 1.4rem;
    }
  }
}

