.signUpLayout {
    background-color: rgba(189, 214, 245, 0.6);
    height: 100vh;

    .wrapper {
        display: flex;
        align-items: center;

        .signupFormDisplay {
            height: 100vh;
            width: 70vh;
            background-color: #fff;
            border-radius: 0 20px 20px 0;
            padding: 5rem 4rem;
            padding-left: 10rem;;
            display: flex;
            flex-direction: column;
            
        }
    }
}

.topLogo {
    display: flex;
    align-items: center;
    gap: 1rem;

    .topbar-logo {
        $size: 3rem;
        height: $size;;
        width: $size;
    }

    .site-name-logo {
        $size: 1rem;
        height: $size;;
    }
}

.introText {
    margin: 6rem 0 2rem 0;;
    width: 100%;

    h2 {
        font-size: 4rem;;
        margin-bottom: 2rem;;
    }
}

.warn {
    font-size: 0.9rem;
    text-align: center;
    margin-right: 6rem;
}

.subtitle {
    font-size: 1.1rem;
}