$black : #191D21;
$white: #F5F0F6;
$green: #D9F0DC;
$pink: #FBE6DA;
$darkorange: #FF743C;
$lightorange: #FF896D;
$darkpink: #FFD7C3;
$darkgreen:#7FD1AE;

.header {
    position: relative;
    $sidebar-width: 7rem;
    left: $sidebar-width; // this is the width of the sidebar
    top: 0;
    width: 120rem - $sidebar-width; 
    background-color:  #f8f8ff;
    z-index: 20;
    

    .content {
        width: 100%;
        display: flex;
        padding: 3rem 2rem;
        justify-content: space-between;
        align-items: center;

    }

    .message {
        margin-left: 1rem;

        .main-text {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 800;
            font-size: 1.9rem;
        }
    }

    .notif-profile {
        font-size: 1.7rem;
        margin: 0 6rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
        gap: 15%;

        i {
            font-size: 2rem;;
            font-weight: 200;
            color: rgba($black, 0.7)
        }

        .profile-details {
            .profile-content {
                img {
                    border-radius: 100px;
                    $profile-size: 65px;
                    height: $profile-size;
                    width: $profile-size;
                    object-fit: cover;
                }
            }
        }
    }
}